
body {
    background: rgba(78, 191, 3, 0.19);
    font-family: 'Numans', Verdana , Tahoma, Helvetica, serif;
/*background: linear-gradient(to bottom, #7db9e8 0%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    font-size: 16px; /*major third*/
    
}

a {
    color: inherit;
}

h1 {
    font-family: 'Oleo Script', Verdana , Tahoma, Helvetica, cursive;
    /*testar rgb: #ff0b0bff*/
    display:inline-block;
    vertical-align: top;
}

h2,h3,h4 {
    font-family: 'Kurale', Verdana , Tahoma, Helvetica, serif;
}

p {
    font-family: 'Numans', Verdana , Tahoma, Helvetica, sans-serif;

    line-height: 1.3750em;
    margin: 0.7142857em 0;
}

h2 {
    color: #ffffff;
    line-height: 1.74357em;
    margin: 1.1266em 0;
}

#logo0{
    color: #ef4a1a;
    font-size: 4.768em;
    margin: 0.2em 0;
    margin-left: 0.2em;
    line-height: 1.1535em;
}

.logo1 {
    display: none;
}

@media screen and (max-width: 580px){
    .logo1 {
        display: block;
        text-align: center;
    }
    #logo0 {
        display: none;
    }
}

/*----------------------- Slider Styles ----------------------------------------*/
#slider {
	position: relative;
	/*margin: 50px 45px 0px 45px;*/
    margin: 40px auto;
	width: 890px;
}

#slider .viewer {
	width: 890px;
	height: 250px;
	border: solid 1px #D4D4D4;
	border-radius: 3px;
}

#slider .slide {
	width: 890px;
	height: 250px;
	padding: 10px;
}

#slider .indicator {
	position: relative;
	z-index: 1;
	text-align: center;
	margin: 20px 0 0 0;
}

#slider .indicator span {
	display: inline-block;
	text-indent: -9999em;
	width: 12px;
	height: 12px;
	background: #E3DFDF;
	border-radius: 6px;
	margin: 0 2px 0 2px;
}

#slider .indicator span.active {
	background: #6E6E6E;
}
/*----------------------- Navigation Styles ----------------------------------------*/
    
nav ul{
	background-color: #f97650;/*#af1b00; /*#008617 ; #003b1f;rgb(14, 81, 124);*/
	overflow: hidden;
	height: 25vw;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 0;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-ransition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
	/*border-top: 3px solid #65b300;*/
}

nav ul li {
	box-sizing: border-box;
	width: 100%;
	padding: 3px;
	text-align: left;
	list-style: none;
	margin-left: -7vw;
}

nav ul li a{
	display: block;
	text-align: center;
	padding: 0 auto;
	/*font-size: 120%;*/
	text-decoration: none;
	font-size: 1.25em;
	line-height: 1.1000em;
}
#slider{
	display: none;
}

nav ul{
	max-height: 0;
}

.showing{
	max-height: 41vw;    
}

.handle{
	display: block;
	background-color: #ef4a1a;
	height: 10vw;
	font-size: 1.25em;
	line-height: 1.1000em;
	padding-top: 1.7vw;
	padding-bottom:0vw;
}

@media (min-width:480px)  { 
	.handle{
		height: 8vw;
	}
}

/*----------------------- Barra Intro/social Icons Styles----------------------------------------*/
	
#barra {
	position: relative;
	background-color: #f97650; /*#da3719; #43a83f;#4a9470;rgb(1, 113, 191);*/
	margin-bottom: 15px;
	height: 13vw;
}
	
#titulo {
	position: absolute;
	left: 2vw;
	top: -10vw;
	font-size: 1.563em;
	line-height: 1.75974em;
	margin: 1.1164em 0;
}    

#icons{
	position: absolute;
	top: -13px;
	right: 10px;
}

#form2{
	display: none;
	position: absolute;
	top: 16vw;
	right: 5vw;
	font-size: 80%;
}

#icons ul li{
	display: inline;
}

@media (min-width:480px)  { 
	#barra {
		height: 8vw;
	}
	
	#titulo {
		top: -7vw;
	} 
}

/*----------------------- Button Bottom Styles----------------------------------------*/
.button {
    clear: both;
    background-color: #61d217;/*#14bc1f;#65b300;#751590;#c65f3c;rgb(107, 164, 101);*/
    /*Fazer botões mais curvos nos cantos*/
    border-radius: 8px;
    max-width: 250px;
    font-size: 1em;
    line-height: 1.3750em;
    margin: 0.714285em auto;
}

.button a {
	color: rgb(226,226,226);
	text-decoration: none; /*Remover a linha em baixo do texto.*/
	font-style: normal; /*Texto sem ser itálico*/
	text-transform: uppercase;
	
	/*Estes dois comandos fazem com que o texto fique alinhado, e que seja mais facil ser 
selecionado por um utilizador.*/
	text-align: center;
	display: block;
	
	/*Acrescentar espaço por cima e baixo do botão, para ficar mais gordo.*/
	padding: 10px 0;
}

.button a:hover {
	background-color: #45aa04;/*#007b08;#5ba000;#660382; #803015; rgb(78, 119, 74);*/
	/*Fazer botões mais curvos nos cantos*/
	border-radius: 8px;
}

/*----------------------- Footer Styles----------------------------------------*/


footer {
	/*clear: both;*/
	display: block;
	background-color: #ef4a1a; /*#c41e00; #008617 ;#003b1f; rgb(19, 83, 121);*/
	position: relative;
	height: 9vw;
	margin-top: 10px;
	font-size: 1em;
	line-height: 1.3636em;
	margin: 0.714285em 0;
}

#footer1 {
	position: absolute;
	left: 1vw;
	top: -5vw;
}

#footer2 {
	position: absolute;
	right: 1.5vw;
	top: -5vw;
}

@media (min-width:480px)  {
	footer {
		height: 7vw;
	}
	
	#footer1 {
		top: -3vw;
	}
	
	#footer2 {
		top: -3vw;
	}
}

/*----------------------- Shop Page Styles----------------------------------------*/

#shop1{
	display: inline-block;
	margin-left: 4vw;
	margin-top: 5vw;
}

#shop2{
	display: inline-block;
	margin-left: 4vw;
	margin-bottom: 7vw;
}

#shop3{
	width: 90%;
	margin-left: 4vw;
}

#shop4{
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#shop5{
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#shop6{
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#shop7{
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#shop8{
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#shop9{
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#shop10{
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#shop11{
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#shop12{
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#shop13{
	margin-top:    4vw;
	margin-bottom: 4vw;
}

/*----------------------- UserData Page Styles----------------------------------------*/

	
#userdata-1{
	display: inline-block;
	margin-left: 4vw;
	margin-top: 5vw;
}

#userdata-2{
	display: inline-block;
	margin-left: 4vw;
	margin-top: 5vw;
}

#userdata0{
	width: 90%;
	margin-left: 4vw;
}

#userdata2{
	margin-bottom: 4vw;
}

#userdata16{
	margin-bottom: 4vw;
}

#userdata17{
	margin-bottom: 4vw;
}

#userdata5{
	margin-bottom: 4vw;
}

#userdata6{
	margin-bottom: 4vw;
}

#userdata7{
	margin-bottom: 4vw;
}

#userdata8{
	margin-bottom: 4vw;
}

#userdata9{
	margin-bottom: 4vw;
}

#userdata10{
	margin-bottom: 4vw;
}

#userdata11{
	margin-bottom: 4vw;
}

/*para remover o texto, n tem espaço.*/ 
#userdata18{
	width: 48%;
}
	

/*----------------------- Services Page Styles----------------------------------------*/

#tit-plan{
	border-bottom: 3px solid #61d217;
}

#tit-plan2{
	border-bottom: 3px solid #f97650;
}

#plan h3{
	margin-top: -0.9vw;
	margin-left: 2vw;
}

#plan {
	width: 90%;
	margin-bottom: 3vw;
	margin-top: 3vw;
	margin-left: 4vw;
}

#plan ul{
	 padding-left: 20px;
}

#loginform{
	margin-top: 5vw;
}

#servicesNotLoggedIn{
	margin-left: 4vw;
}

#servicesLoggedIn{
	margin-left: 4vw;
}

#create4 {
	/*tem-se de usar o inline-block porque se não acontece o 
	que se chama de margin colapse. Ou seja a propriedade margin
	deixa de funcionar*/
	display: inline-block;
	margin-bottom: 3vw;
}

#create5 {
	display: inline-block;
	margin-top: 3vw;
}

#create6 {
	display: inline-block;
	margin-bottom: 5vw;
}

/*----------------------- Index Page Styles----------------------------------------*/


/* smartphones, iPhone, portrait 480x320 phones */ 
#imagem1{
	display: block;
	margin: 0 auto;
}
/*
#intro_texto {
		position: relative;
		height: 55vw;
		background-color: rgba(78, 191, 3, 0.88);
		margin: 20px 0;
}*/

#intro_texto h2{
		/*position: absolute;
		top: -2.7vw;
		left: 6vw;
		height: 100%;*/
		margin: 0 auto;
		width: 90%;
		font-size: 1.25em;
		line-height: 1.1000em;
		color: rgba(78, 191, 3, 0.88);
		text-shadow: 1px 1px 2px #000000;
}

#bloco0 {
	position: relative;
	height:20vw;
	margin: 0 auto;
	border-bottom: 3px solid #61d217;
	width: 95.5vw;
}
	
#texto0 {
	position: absolute;
	left: 0.5vw;
	top: 8vw;
	font-size: 1em;
	line-height: 1.1000em;
	margin: 0.8928em 0;
}

#bloco1 {
	position: relative;
	height:150vw;
	width: 95.5vw;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
	border-bottom: 3px solid #61d217;
}
	
#imagem1 {
	display: block;
	width: 82vw;
	height: 60vw;
}

#titulo1 {
	display: block;
	font-size: 1.25em;
	line-height: 1.1000em;
	margin: 5 0;
	margin-left: 20px; 
	text-decoration: none;
	color: #ef4a1a;
}

#titulo1 a {
	text-decoration: none;
}

#texto1 {
	position: absolute;
	left: 7vw;
	top: 80vw;
	width: 80vw;
	height: 40vw;
	line-height: 1.3636em;
	margin: 20px 0;
}

a:-webkit-any-link {
	text-decoration: none;
}

/*Isto é básicamente para se usar nos Landscapes dos telemoveis.*/
@media (min-width:480px)  { 
	#bloco1 {
		height: 110vw;
	}
}

/*----------------------- SignUp Page Styles----------------------------------------*/

#teste0 {
	width: 90%;
	margin-left: 4vw;
}

#teste1 {
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#teste2 {
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#teste3 {
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#teste4 {
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#teste5 {
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#teste7 {
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#teste9 {
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#teste10 {
	margin-top:    4vw;
	margin-bottom: 4vw;
}

#country {
	width: 90%;
}

#teste11 {

}

#teste14 {

}

#teste16{
	
}

/*----------------------- Articles Page Styles----------------------------------------*/

#auto_article{
	width: 90vw;
	background-color: rgba(101, 179, 0, 0.32);
	margin: 10vw auto;
	border: 3px solid #65b300;
}

#auto_article h2 {
	margin-left: 3vw;
	color: #ef4a1a;
	margin-bottom: 0.4vw;
	margin-top: 2vw;
}

/*Os textos têm de vir com html5 tags nos paragrafos já metidas.<p></p> */
#auto_article p {
	margin-left: 3vw;
	margin-right: 3vw;
}

#auto_article ul {
	width: 75vw;
	margin: 0vw auto 3vw;
	padding-left: 1vw;
}

#auto_article img {
	margin-left: 4vw;
	width: 80vw;
	height: 50vw;
}

#auto_article_tab {
	color: #ef4a1a;
	font-weight: 900;
}

/*----------------------- Food Page Styles----------------------------------------*/

#auto_food{
	width: 90vw;
	background-color: rgba(101, 179, 0, 0.32);
	margin: 10vw auto;
	border: 3px solid #65b300;
}

#auto_food h2 {
	margin-left: 3vw;
	color: #ef4a1a;
	margin-bottom: 0.4vw;
	margin-top: 2vw;
}
 
#auto_food p {
	margin-left: 3vw;
	margin-right: 3vw;
}
	
#auto_food ul {
	width: 75vw;
	margin: 0vw auto 3vw;
	padding-left: 1vw;
}

#auto_food img {
	margin-left: 4vw;
	width: 80vw;
	height: 50vw;
}

#auto_food_tab {
	color: #ef4a1a;
	font-weight: 900;
}




    
    
    